---
layout: default
title: Resume
permalink: /resume/
---


<style>
  /* Custom CSS for underlined section names */
  .section-name {
    font-weight: bold;
    text-decoration: underline;
  }

  /* Custom CSS for job title, company, and duration */
  .job-title-company {
    display: block;
    font-weight: bold;
  }
  .duration {
    font-style: italic;
  }
</style>

<div class="container mt-4">
  <h2 class="mb-4">Resume</h2>
  
  {% assign resume_sections = site.data.resume.resume_sections %}
  {% for section in resume_sections %}
    <section class="mb-4">
      <h3 class="section-name mb-3">{{ section.name }}</h3>
      {% if section.items %}
        <ul class="list-unstyled" style="font-size: 16px;">
          {% for item in section.items %}
            {% if section.name == 'Education' %}
              <li class="mb-3">
                <h4 class="mb-1 font-weight-bold">{{ item.degree }}</h4>
                <p class="mb-1">{{ item.university }}</p>
                <p class="text-muted mb-0">{{ item.graduation_year }}</p>
              </li>
            {% elsif section.name == 'Experience' %}
              <li class="mb-3">
                <div class="job-title-company">{{ item.title }}</div>
                <div class="job-title-company">{{ item.company }}</div>
                <p class="duration">{{ item.duration }}</p>
                <p class="mb-0">{{ item.description }}</p>
              </li>
            {% elsif section.name == 'Skills' %}
              <li class="mb-1">{{ item.name }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
        <p class="mb-0" style="font-size: 16px;">{{ section.description }}</p>
      {% endif %}
    </section>
  {% endfor %}
</div>