---
layout: default
title: Resume
permalink: /resume/
---


<style>
  /* Custom CSS for section headers */
  .section-header {
    margin-top: 10px; /* Adjust margin-top as needed */
  }
  .section-header hr {
    border: none;
    border-top: 2px solid black; /* Adjust border properties as needed */
    margin-top: 5px; /* Adjust margin-top as needed */
  }

  /* Custom CSS for job title, company, and duration */
  .job-title-company {
    display: inline-block;
    font-weight: bold;
  }
  .duration {
    font-style: italic;
    margin-left: 5px;
    margin-right: 5px;
  }
  .education-info {
    display: inline-block;
    font-weight: bold;
  }
  .education-info::after {
    content: " |";
    margin-left: 5px;
    margin-right: 5px;
  }
</style>

<div class="container mt-4">
  <h2 class="mb-4">Resume</h2>
  
  {% assign resume_sections = site.data.resume.resume_sections %}
  {% for section in resume_sections %}
    <section class="mb-4">
      <div class="section-header">
        <h3 class="mb-3">{{ section.name }}</h3>
        <hr>
      </div>
      {% if section.items %}
        <ul class="list-unstyled" style="font-size: 16px;">
          {% for item in section.items %}
            {% if section.name == 'Education' %}
              <li class="mb-3">
                <div class="education-info">{{ item.degree }}</div>
                <div class="education-info">{{ item.university }}</div>
                <div class="education-info">{{ item.location }}</div>
                <div class="education-info">{{ item.graduation_year }}</div>
              </li>
            {% elsif section.name == 'Experience' %}
              <li class="mb-3">
                <div class="job-title-company">{{ item.title }}</div>
                <div class="job-title-company">{{ item.company }}</div>
                <p class="duration">{{ item.duration }}</p>
                <p class="mb-0">{{ item.description }}</p>
              </li>
            {% elsif section.name == 'Skills' %}
              <li class="mb-1">{{ item.name }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
        <p class="mb-0" style="font-size: 16px;">{{ section.description }}</p>
      {% endif %}
    </section>
  {% endfor %}
</div>